body{
    max-width: 960px;
    margin: auto;
}

header{
    text-align: right;
    padding-bottom: 0em;
}

hr{
    margin-top: 0.5em;
}

.logo {
    height: 80%;
}

.logo{
}

.content{
    margin-top: 2em;
}

.content-title{
    margin-bottom: 0.5em;
}

.portfolio-image{
    display: block;
    margin: auto;
}

.portfolio-name{
    margin-top: 0.5em;
}
